.navigation {
  width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 48px;
}

/* .conteinerNav {
  display: flex;
  width: 133px;
  height: 28px;
  justify-content: space-between;
  align-items: center;
} */
.link {
  /* display: inline-block; */
  text-decoration: none;
  color: rgba(18, 20, 23, 1);
  font-size: 16px;
  justify-content: space-between;
}

/* .link.active {
  color: #e84a5f;
} */

.logo {
  display: flex;
  width: 133px;
  height: 28px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.logoIcon {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
    to top,

    rgba(255, 218, 68, 1) 50%,
    rgba(51, 138, 243, 1) 50%
  );
  margin: 0;
}
.logoName {
  display: flex;
  width: 97px;
  height: 24px;
  color: rgba(18, 20, 23, 1);
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  margin: 0;
}

.conteinerHome {
  display: flex;
  align-items: center;

  width: 138px;
  height: 20px;
  font-size: 16px;
  gap: 28px;
}
