.navAuth {
  display: flex;
  align-items: center;
  width: 255px;
  justify-content: space-between;
  height: 48px;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgba(18, 20, 23, 1);
  font-size: 16px;
  font-weight: 700px;
}
.icon {
  width: 20px;
  height: 20px;
  border: 2px;
  fill: rgba(244, 197, 80, 1);

  stroke: rgba(244, 197, 80, 1);
  position: relative;
}

/* .link.active {
  color: #e84a5f;
}
 */
