/* .container {
  min-height: calc(100vh - 50px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.title {
  font-weight: 500;
  font-size: 48;
  text-align: center;
}
 */

.sectionMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1312px;
  height: 530px;
}
.sectionDescription {
  display: flex;
  width: 720px;
  height: 530px;
  flex-direction: column;
}
.sectionFoto {
  width: 568px;
  height: 530px;
}
.button {
  width: 267px;
}
